body {
    background-color: #a7970b;
    background-image: url(http://images.craftsnherbs.com/misc/hexagon-37436__340.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header h1 img {
    width: 35px;
    margin: 0 .5em;
}
nav {
    margin: 1em;
}
nav a {
    color: white;
    text-decoration: none;
    border: 5px double #91810b;
    background-color: #605607b2;
    padding: .5em;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-image: url(http://images.craftsnherbs.com/beedev/flyingbee.gif);
    text-align: center;
}
section img {
    max-width: 250px;
    z-index: 1;
    border-radius: 20%;
    box-shadow: -5px 5px #605607;
    margin: 1em;
    max-height: 250px;
    border: 5px double #91810b;
}
section .img {
    margin: 1em;
    margin-top: 2em;
    
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    padding: 1em;

}
.text p {
    background-color: #605607b2;
    border: 5px double #91810b;
    box-shadow: -5px 5px #605607;
    padding: .5em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;

}
@media only screen and (max-width: 900px) {
    section {
        background-image: none;
    }
    section img {
        max-width: 175px;
    }
}
@media only screen and (max-width: 700px) {
    form {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px) {

    header h1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    header h1 img {
        margin: .5em; 
    }
}
